:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #000000;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
}

#app {
    background-color: #f9f9f9;
}

.ico {
    width: 12px;
    height: 12px;
    filter: grayscale(100%) brightness(50%) contrast(10%);
}

.logo {
    width: 50px;
    height: 50px;
}

hr {
    border: 0px solid;
    border-top: 1px solid rgb(231, 231, 231)
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-text {
    background: none;
    border: none;
    color: #007bff;
    /* warna biru seperti Bootstrap */
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.2s ease;
}

.float-end {
    float: right
}

.d-none {
    display: none;
}

.btn-text:hover,
.btn-text:focus {
    color: #0056b3;
    /* lebih gelap saat hover */
    text-decoration: underline;
}

.btn-text:disabled {
    color: #6c757d;
    pointer-events: none;
    opacity: 0.6;
}

.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
}

.modal-content .img-foto {
    max-width: 100%;
    height: auto;
    border-radius: 50px;

}

.close {
    position: absolute;
    right: 10px;
    top: -62.9px;
    font-size: 28px;
    font-weight: bold;
    color: #b7b7b7;
    cursor: pointer;
    font-size: 40px;
}

.close:hover {
    color: black;
}

.d-none {
    display: none;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin:10px;
}

.image-collection {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /* penting untuk iOS */
    scroll-snap-type: x mandatory;
    gap: 10px;
    cursor: grab;
    overflow: hidden;
}

.image-collection.active {
    cursor: grabbing;
}

.img-collection-item {
    flex: 0 0 auto;
    width: 300px;
    height: auto;
    object-fit: cover;
    scroll-snap-align: start;
    user-select: none;
    pointer-events: auto;
}

.img-collection-item:hover {
    transform: scale(1.05);
}

.nav-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    /* border-radius: 50%; */
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}