.loading {
    position: fixed;
    top:0;
    left: 0;
    width: 0%;
    background-color: #898989;
    transition: width 0.3s ease;
    z-index: 1000;
    display: block;
    padding: 1px;
}
.loading.none{
    display: none;
}