@import url('./includes/default.css');
@import url('./includes/layout.css');
@import url('./includes/loading.css');
@import url('./includes/table.css');
@import url('./includes/text.css');
@import url('./includes/grid.css');
@import url('./includes/padding.css');
@import url('./includes/margin.css');

.counter-flag{
  position: fixed;
  top:20px;
  right: -230px;
  margin:0px 10px 0px 0px;
}
.counter-flag:hover{
  right: 0;
  transition: 0.5s
}